{% extends 'base.html' %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="mb-4">Nueva publicación</h3>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-primary">
                        Publicar
                    </button>

                    <a href="/" class="btn btn-secondary">
                        Cancelar
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}