{% extends 'base.html' %}

{% block contenido %}

<h2 class="mb-4">Inicio</h2>

{% if user.is_authenticated %}
<div class="alert alert-primary">
    Bienvenido, <strong>{{ user.username }}</strong>
</div>
{% endif %}

{% for post in posts %}

<div class="card mb-4 shadow-sm">
    <div class="card-body">

        <div class="d-flex justify-content-between">

            <h5>
                <a href="{% url 'perfil' post.usuario.username %}"
                   class="text-decoration-none">
                    @{{ post.usuario.username }}
                </a>
            </h5>

            <small class="text-muted">
                {{ post.fecha_creacion }}
            </small>

        </div>

        <p class="card-text mt-3">
            {{ post.contenido }}
        </p>

        {% if post.hashtags.all %}
        <div class="mb-3">
            {% for hashtag in post.hashtags.all %}
                <a href="{% url 'ver_hashtag' hashtag.nombre %}"
                   class="badge bg-primary text-decoration-none me-1">
                    #{{ hashtag.nombre }}
                </a>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'toggle_like' post.id %}">
            {% csrf_token %}

            <button class="btn btn-outline-danger btn-sm">
                ❤️ {{ post.like_set.count }}
            </button>
        </form>

        <hr>

        <h6>Comentarios</h6>

        {% for comentario in post.comentario_set.all %}

            <div class="mb-2">
                <strong>@{{ comentario.usuario.username }}</strong><br>
                {{ comentario.contenido }}
            </div>

        {% empty %}

            <small class="text-muted">
                Sin comentarios.
            </small>

        {% endfor %}

        <form method="POST" action="{% url 'comentar_post' post.id %}">
            {% csrf_token %}

            <input
                type="text"
                name="contenido"
                class="form-control mt-3"
                placeholder="Escribe un comentario">

            <button class="btn btn-primary btn-sm mt-2">
                Comentar
            </button>

        </form>

    </div>
</div>

{% empty %}

<div class="alert alert-warning">
    No hay publicaciones para mostrar.
</div>

{% endfor %}

{% endblock %}